:root {
  --text-color: #333;
  --background-color: #f5f5f5;
  --brand-color: #006775;
  --brand-highlight-color: #83ebe4;
  --font-family: "Roboto", sans-serif;
  --border-radius: 1.5rem;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
  --font-size: 1rem;
  --subtext-color: #666;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 2.5vw;
}

h4,
h5,
h6 {
  font-size: 1.5vw;
}

nav {
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links,
.nav-menu a {
  list-style: none;
  padding: 0;
  gap: 1rem;
  margin-left: auto;
  font-size: 1.5rem;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links a {
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-menu a:hover {
  color: var(--brand-highlight-color);
}

.header,
footer {
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: var(--box-shadow);
}

.header:hover,
.footer {
  box-shadow: var(--box-shadow-hover);
}

.btn,
.read-more {
  background-color: var(--brand-color);
  color: white;
  padding: 0.75em 1.5em;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn:hover,
.read-more:hover {
  background-color: var(--brand-highlight-color);
}

.article,
.bio-info {
  margin: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
  max-width: 80%;
}

.about-header {
  background-color: var(--brand-color);
  color: white;
  height: 100px;
  margin: 10px;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.bio-info:hover {
  box-shadow: var(--box-shadow-hover);
}

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  .bio-info,
  .about-header {
    width: 95%;
  }

/* Hamburger dropdown menu styles */
.nav-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color);
  top: 60px;
  right: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: var(--box-shadow);
}

.nav-menu.responsive {
  display: flex;
}

.hamburger-menu {
  display: block;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.5rem;
  background: transparent;
  border: none;
  z-index: 2000;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}