/* aboutme.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --text-color: #333;
  --background-color: #f5f5f5;
  --brand-color: #006775;
  --brand-highlight-color: #83ebe4;
  --font-family: 'Roboto', sans-serif;
  --border-radius: 1.5rem;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
  --font-size: 1rem;
  --subtext-color: #666;
  --primary-color: var(--brand-color);
  --hover-color: var(--brand-highlight-color);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav h5 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.nav-links a {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--brand-highlight-color);
}

header {
  background-color: var(--brand-color);
  color: white;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 1rem;
}

.personal-info, .background {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.personal-info h2, .background h2 {
  color: var(--brand-color);
  margin-top: 0;
}

footer {
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: var(--font-size);
}

.social-links {
  display: flex;
  justify-content: center;
}
.social-links a {
  margin-left: 10px;
  display: inline-flex;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 600px) {
  .featured-article,
  .articles {
    width: 90%;
  }

  .newsletter input[type=email],
  .newsletter button[type=submit] {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.container {
  padding: 15px;
  margin: auto;
  max-width: 1200px;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

#newsletter-email {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Space out the cards evenly */
}
