:root {
    /* Colors */
    --text-color: #333;
    --font-family: 'Roboto', sans-serif;
    --background-color: #f5f5f5;
    --primary-color: #006775;
    --secondary-color: #006775;

    /* Sizing */
    --base-font-size: 1vw;
    --base-spacing: 0.5vw;
    --base-border-radius: 1.5rem;

    /* Responsive Sizing */
    --responsive-font-size: calc(var(--base-font-size) + 0.5vw);
    --responsive-spacing: calc(var(--base-spacing) + 0.5vw);
    --responsive-border-radius: calc(var(--base-border-radius) + 0.5vw);

    /* Variables */
    --main-text-color: var(--text-color);
    --primary-background-color: var(--primary-color);
    --secondary-background-color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-background-color);
    color: white;
    letter-spacing: 0.20vw;
    padding: var(--base-spacing);
    border-radius: var(--base-border-radius);
    box-shadow: 1vw 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 8vw;
    text-align: center;
}

.container {
    margin: auto;
    width: 85%;
    padding: 20px;
}

.personal-info h2,
.background h2,
.socials h3 {
    font-size: 4vw;
    margin-bottom: var(--base-spacing);
    text-align: center;
    margin: 4vw;
}

.background ul {
    list-style: none;
    padding: 0;
}

.background li,
.socials p {
    font-size: 2.5vw;
    margin-bottom: var(--base-spacing);
    text-align: center;
    margin: 4vw;
}
/* BEGIN: Additional Styles */
.container p {
    font-size: 3vw;
    line-height: 1.5;
}

.personal-info p {
    font-size: 2.5vw;
    margin-bottom: var(--base-spacing);
    text-align: center;
    margin: 4vw;
}

.socials
{
    text-align: center;
}

.socials ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.socials li {
    margin-right: 1vw;
}

.socials a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5vw;
}

.socials a:hover {
    color: var(--secondary-color);
}
/* END: Additional Styles */
