/* Article styles */
article {
    padding: 2vw;
    background-color: #ffffff;
    margin-top: 2vw;
    border-radius: 3vw;
    box-shadow: 0 0.5vw 1vw #ccc;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

article:hover {
    transform: translateY(-0.5vw);
    box-shadow: 0 1vw 2vw #ccc;
}

/* Add hover effect to links */
article a:hover {
    color: rgba(0, 200, 255, 0.763);
    text-decoration: underline;
}
