/* Article styles */
/* BEGIN: Article styles */
article {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
}

/* Add hover effect to links */
/* BEGIN: Add hover effect to links */
article a:hover {
  color: rgb(0, 255, 225);
}
/* END: Add hover effect to links */
/* END: Article styles */
