/* FILEPATH: /Users/gunzino/Documents/GitHub/Fascinaiting/css/body-script.css */
body,
html {
    margin: flex;
    padding: flex;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.card {
    width: flex; /* Adjust the width as per your requirement */
    height: flex; /* Adjust the height as per your requirement */
    /* Add any other styles you want for the cards */
    box-shadow: 0 0 5px var(--box-shadow-hover-color); /* Applies box shadow with hover color */
}

@media screen and (max-width: 480px) {
    /* Adjust the styles for smaller screens */
    .card {
        width: 100%; /* Set the width to 100% for smaller screens */
        height: auto; /* Set the height to auto for smaller screens */
        /* Add any other styles you want for smaller screens */
    }
}
