/* FILEPATH: /Users/gunzino/Documents/GitHub/Fascinaiting/css/styles.css */

/* Reset Styles */
/* BEGIN: Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* END: Reset Styles */
  