/* Body Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5vw; /* Adapt font size to screen resolution */
    color: #333;
    text-transform: none;
    letter-spacing: 0.125vw; /* Adapt letter spacing to screen resolution */
    line-height: 3vw; /* Adapt line height to screen resolution */
    background-color: rgb(184, 184, 184);
  }
  body,

  html {
    margin: 0; /* Removed the 'flex' value */
    padding: 0; /* Removed the 'flex' value */
  }
