:root {
    --canvas-animation-name: particles;
    --canvas-animation-duration: 5s;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    animation: var(--canvas-animation-name) var(--canvas-animation-duration) infinite;
    -webkit-animation: var(--canvas-animation-name) var(--canvas-animation-duration) infinite;
    /* Consider any other vendor prefixes if necessary */
    /* Be mindful of animation performance and accessibility */
}
