/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variables */
:root {
    --primary-color: #2980b9;
    --hover-color: rgba(47, 217, 255, 0.763);
    --text-color: #333;
    --subtext-color: #666;
    --background-color: #f4f4f4;
    --border-radius: 5vw;
    --box-shadow-color: #ccc;
    --box-shadow-hover-color: #333;
    --transition-speed: 0.3s;
    --font-size: 1.4vw;
}

/* Card Styles */
.card {
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    background: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--box-shadow-color);
    overflow: auto;
    margin: 1vw;
    transition: all .5s ease-in-out;
    transition: transform var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.card:hover {
    transform: translateY(-1.5vw);
    box-shadow: 0 6px 10px var(--box-shadow-hover-color);
    -webkit-transform: translateY(-1.5vw);
    -moz-transform: translateY(-1.5vw);
    -ms-transform: translateY(-1.5vw);
    -o-transform: translateY(-1.5vw);
}

.card img {
    width: 100%;
    display: block;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* Card Content */
.card-content {
    padding: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-content h3 {
    margin-top: 0;
    color: var(--text-color);
    font-size: calc(var(--font-size) * 1.4);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6vw;
}

.card-content p {
    color: var(--subtext-color);
    line-height: 1.6vw;
    margin: 0.8vw 0 1.6vw;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

/* Ensure <a> or <button> elements in .btn class have proper accessibility attributes */
.card-content .btn {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    padding: 0vw;
    margin: 0.8vw 0 1.6vw;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.125vw;
    line-height: 3vw;
    text-align: center;
    display: flex;
    border-radius: 1.5vw;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-content .btn:hover {
    background-color: var(--hover-color);
}

/* Card Container */
/* Consider additional media queries for responsiveness */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
}

/* Test styles across multiple browsers for compatibility */
