/* Dropdown Content (Hidden by Default) */
.dropdown .dropdown-content {
  display: none; /* Hides the dropdown content by default */
  position: absolute; /* Positions the dropdown content absolutely */
  background-color: #f9f9f9; /* Sets the background color of the dropdown content */
  min-width: 140px; /* Sets the minimum width of the dropdown content */
  z-index: 10; /* Sets the stacking order of the dropdown content */
  top: 0; /* Positions the dropdown content at the top */
  left: 100%; /* Positions the dropdown content to the right of the dropdown button */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative; /* Positions the dropdown container relative to its normal position */
  display: inline-block; /* Displays the dropdown container as an inline block */
  margin: 0; /* Removes margin around the dropdown container */
}

/* Links inside the dropdown */
.dropdown .dropdown-content a {
  color: black; /* Sets the text color of the links inside the dropdown content */
  padding: 3px; /* Adds padding around the links inside the dropdown content */
  text-decoration: none; /* Removes the underline decoration from the links inside the dropdown content */
  display: block; /* Displays the links inside the dropdown content as block elements */
}

/* Show dropdown content on click */
.dropdown.active .dropdown-content,
.dropdown .dropbtn:focus + .dropdown-content {
  display: block; /* Displays the dropdown content when the dropdown is active or focused */
}

/* Show dropdown content on click */
.dropdown.active:hover .dropdown-content,
.dropdown .dropbtn:focus + .dropdown-content:hover {
  display: block; /* Displays the dropdown content when hovering over the dropdown or when the dropdown button is focused */
}

/* Add a grey background color to dropdown links on hover */
.dropdown:hover .dropdown-content a:hover {
  background-color: #c3e0ff; /* Sets the background color of the dropdown links on hover */
}

/* Dropdown Button */
.dropdown .dropbtn {
  background-color: #0c84c1;
  color: white;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}
