/* Header styles */
h1 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: 4rem; /* Setting font size */
  }
  /* Header styles */
  h2 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: 2.5rem; /* Setting font size */
  }
  /* Header styles */
  h3 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: 2rem; /* Setting font size */
  }
  /* Header styles */
  h4 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: 1.5rem; /* Setting font size */
  }
  /* Header styles */
  h5 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: 1rem; /* Setting font size */
  }
  /* Header styles */
  h6 {
    font-family: 'Roboto', sans-serif; /* Setting font-family */
    font-weight: bold; /* Setting font weight */
    text-transform: uppercase; /* Setting text transform to uppercase */
    letter-spacing: 2px; /* Setting letter spacing */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Adding text shadow */
    line-height: 2rem; /* Setting line height */
    font-size: .75rem; /* Setting font size */
  }
  header {
    border: #ffffff 12px solid; /* Setting border */
    background-color: #0a3968; /* Setting background color */
    color: #ffffff; /* Setting text color */
    padding: 40px 50px; /* Setting padding */
  }
  /* Header title */
  header h1 {
    text-align: center; /* Setting text alignment */
    margin: 0; /* Resetting margin */
    padding-bottom: 30px; /* Setting padding bottom */
  }