/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Header Styles */
header {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 8vw 10vw;
  margin-top: 1vw;
  border: 8px solid #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform-origin: center;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

/* Header Title Styles */
header h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5);
  line-height: 100%;
  text-align: center;
  margin: 10vw auto;
  background-color: #0a3968;
  border: 0.27vw solid #ffffff;
  border-radius: 12px;
  font-size: 8vw;
  margin-top: 1vw;
  margin-bottom: 1.5vw;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(absolute);
  -webkit-transform: scale(absolute);
  -moz-transform: scale(absolute);
  -ms-transform: scale(absolute);
  -o-transform: scale(absolute);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

/* Modified Header Title Styles */
header.header h1 {
  font-family: var(--header-font-family);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-shadow: var(--header-text-shadow);
  line-height: normal;
  text-align: center;
  margin: 11vw auto;
  color: var(--header-text-color);
  background-color: #0a3968;
  border: 0.27vw solid var(--header-text-color);
  border-radius: 12px;
  font-size: clamp(1.5rem, 8vw, 3rem);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}