:root {
  --text-color: #333;
  --background-color: #f5f5f5;
  --brand-color: #006775;
  --brand-highlight-color: #83ebe4;
  --font-family: "Roboto", sans-serif;
  --border-radius: 1.5rem;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --box-shadow-hover-color: rgba(0, 0, 0, 0.2);
  --font-size: 1rem;
  --subtext-color: #666;
  --primary-color: var(--brand-color);
  --hover-color: var(--brand-highlight-color);
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2vw;
}

h1 {
  font-size: 7vw;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 3vw;
}

nav {
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav h5 {
  margin: 0;
  font-size: 2.5rem;
  color: var(--text-color);
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-left: auto;
  font-size: 1.5rem;
}

.nav-links a {
  color: var(--brand-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--brand-highlight-color);
}

.header {
  background-color: var(--brand-color);
  color: white;
  letter-spacing: 0.2vw;
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: 1vw 2px 4px var(--box-shadow-color);
  text-align: center;
}

.featured-article,
.article {
  margin: auto;
  box-shadow: 0.5vw 2px 4px var(--box-shadow-color);
  padding: 20px;
  border-radius: var(--border-radius);
  margin-bottom: 1em;
  width: 85%;
  border: 1px solid #ddd;
}

.featured-article {
  padding: 2vw;
  width: 92%;
}

.twitter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-container>div {
  transform: scale(0.8);
  transform-origin: top left;
  margin: 10px;
}

.card {
  display: inline-block;
  width: 48%;
  margin: auto;
  border-radius: var(--border-radius);
  box-shadow: 0.5vw 2px 4px var(--box-shadow-color);
  overflow: hidden;
  background-color: var(--background-color);
}

.card img {
  width: 100%;
  display: block;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-content {
  padding: 1.6vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.card-content .btn {
  margin: 0.8vw 0 1.6vw;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  font-size: var(--font-size);
  text-transform: uppercase;
  letter-spacing: 0.125vw;
  line-height: 3vw;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 1.5vw;
}

.card-content .btn:hover {
  background-color: var(--hover-color);
}

.btn,
.read-more,
.newsletter button[type="submit"] {
  display: inline-block;
  background-color: var(--brand-color);
  color: white;
  padding: 0.75em 1.5em;
  text-decoration: none;
  border-radius: var(--border-radius);
  box-shadow: 0.6vw 1vw 2px var(--box-shadow-color);
  transition: background-color 0.3s ease;
}

.btn:hover,
.read-more:hover,
.newsletter button[type="submit"]:hover {
  background-color: var(--hover-color);
}

.card:hover {
  box-shadow: 0 8px 16px var(--box-shadow-hover-color);
}


footer {
  background-color: var(--brand-color);
  color: white;
  padding: 1em;
  border-radius: 20px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin-left: 10px;
  display: inline-flex;
}

.position-fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.header-content {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  padding: 15px;
  margin: auto;
  max-width: 1200px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {

  .nav-links,
  .articles {
    flex-direction: column;
  }

  .article {
    margin-bottom: 20px;
  }
}

.site-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
}

/* Twitter Embeds Styling */
.twitter-tweet {
  margin: 2rem auto;
  max-width: 500px;
}

.twitter-tweet p {
  font-size: var(--font-size);
  color: var(--text-color);
}

.twitter-tweet a {
  color: var(--brand-color);
  text-decoration: none;
}

.twitter-tweet a:hover {
  color: var(--brand-highlight-color);
}