:root {
  --article-background-color: #ffffff;
  --article-padding: 2vw;
  --article-margin-top: 2vw;
  --article-border-radius: 3vw;
  --article-box-shadow: 0 0.5vw 1vw #ccc;
  --article-box-shadow-hover: 0 1vw 2vw #ccc;
  --link-hover-color: rgba(0, 200, 255, 0.763);
  --transition-speed: 0.1s;
  --canvas-animation-name: particles;
  --canvas-animation-duration: 5s;
  --primary-color: #2980b9;
  --hover-color: rgba(47, 217, 255, 0.763);
  --text-color: #333;
  --subtext-color: #666;
  --background-color: #f4f4f4;
  --border-radius: 5vw;
  --box-shadow-color: #ccc;
  --box-shadow-hover-color: #333;
  --font-size: 1.4vw;
  --body-font-family: 'Quicksand', sans-serif;
  --body-font-size: 2vw;
  --body-color: #333;
  --body-background-color: rgb(215, 215, 215);
  --body-letter-spacing: 0.125vw;
  --body-line-height: 3vw;
  --body-transition-speed: 0.1s;
  --footer-bg-color: #2c3e50;
  --footer-text-color: #ffffff;
  --footer-padding: 1em;
  --footer-margin-top: 1rem;
  --footer-border-radius: 0.5rem;
  --footer-font-size: clamp(0.875rem, 2vw, 1.125rem);
}
