<header>
        <form id='search-form' action='search.php' method='GET'>
                <input type='search' id='search-input' name='query' placeholder='Search...'>
                <button type='submit' name='search' value='Search'>Search</button>
        </form>
        <h1>FascinAIting</h1>
        <nav class='navigation'>
                <ul>
                        <li>Artificial Intelligence</li>
                        <li>in:</li>
                        <!-- Add more articles as needed with the appropriate href -->
                </ul>
        </nav>
</header>
