/* Common styles for articles, featured articles, cards, and bio info */
.article,
.featured-article,
.card,
.bio-info {
  margin: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 30px;
  border: 1px solid #ddd;
  background-color: white;
  width: 85%;
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 0.3s ease-in-out;
}

/* Additional styles for featured articles */
.featured-article {
  padding: 2vw;
}

/* Styles for images within cards */
.card img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition: all 0.3s ease-in-out;
}

/* Styles for content within cards */
.card-content {
  padding: 1.6vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}