@tailwind base;
@tailwind components;
@tailwind utilities;

/* Article and Card Styles */
.article,
.featured-article,
.card,
.bio-info {
  margin: auto;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 25px;
  border: 2px solid #ddd;
  background-color: white;
  width: 85%;
  margin-bottom: 1em;
}

.featured-article {
  padding: 2vw;
}

.article {
  width: 85%;
  margin-bottom: 1em;
}

.card img {
  width: 100%;
  display: block;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card-content {
  padding: 1.6vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}