:root {
  --xx-large-font-size: 5vw;
  --x-large-font-size: 4vw;
  --large-font-size: 3vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 { font-size: var(--xx-large-font-size); }
h2 { font-size: var(--x-large-font-size); }
h3 { font-size: var(--large-font-size); }
h4, h5, h6 { font-size: calc(var(--large-font-size) * 0.6); }

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}