/* General Styles */

/* Reset default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Set font and color */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Heading Styles */

/* Reset margin and padding for all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Set font sizes for headings */
h1 {
  font-size: 4.5vw;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 2.5vw;
}

h4,
h5,
h6 {
  font-size: 1.5vw;
}

/* Canvas Styles */

/* Position and size the canvas element */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}