#darkModeToggle {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Add this line to center the element */
}

#darkModeToggle:hover, #backToTopBtn:hover{
    background-color: rgba(85, 85, 85, 0.8);
}

#darkModeToggle:focus {
    outline: none;
    box-shadow: 0 0 5px #666;
}

#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    border: none;
    border-radius: 50%; /* Change border-radius to 50% to make it a circle */
    cursor: pointer;
    width: 40px;
    height: 40px; /* Set height equal to width to make it a circle */
    font-size: 1.25vw;
    padding: 0; /* Remove padding to make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}