/* FILEPATH: /Users/gunnarhostetler/Documents/GitHub/Fascinaiting/src/css/footer.css */

footer {
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: var(--box-shadow);
  position: fixed;
  bottom: 0;
  width: 100%;
}
