.gumroad-container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 768px) {
    .gumroad-container {
        flex-direction: column;
    }
}
