.header {
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: var(--box-shadow);
  width: 100%;
  box-sizing: border-box;
}

.header-content h1 a,
.header-content h1 a:hover {
  text-decoration: none;
  color: #0a3b54;
}

.header-content h1 a:hover {
  color: var(--brand-highlight-color);
  transition: color 0.3s ease;
}