.header {
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1em;
  box-shadow: var(--box-shadow);
}

.header-content h1 a {
  color: #0a3b54; /* AI portion color */
  text-decoration: none;
}

.header-content h1 a:hover {
  color: var(--brand-highlight-color);
  transition: color 0.3s ease;
}