.nav-link {
  margin: 0.5rem 0;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
  font-size: smaller;
}

.site-header,
.site-nav,
.about-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: .5rem;
  position: relative;
  top: 0;
  z-index: 1000;
}

.site-nav .nav-link,
.about-nav .nav-link {
  color: var(--text-color);
  margin: 0 1rem;
}

.site-nav .nav-link:hover,
.about-nav .nav-link:hover {
  color: var(--hover-color);
  justify-content: center;
}

.site-header .logo a {
  color: #0076a5;
  text-decoration: none;
}

.site-header .logo a:hover {
  color: var(--brand-highlight-color);
  transition: color 0.3s ease;
}