/* Style for the content section */
.content-1 {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Style for the about section */
.content-2 {
    background-color: #f9f9f9;
    padding: 20px;
}

/* Style for the contact section */
.articles {
    background-color: #f2f2f2;
    padding: 20px;
}