/* BEGIN: .twitter-embeds */
.twitter-embeds {
  text-align: center;
  display: flex;
}
/* END: .twitter-embeds */

/* BEGIN: .twitter-tweet */
.twitter-tweet {
  display: inline-block;
  margin: 0 auto;
}
/* END: .twitter-tweet */
